/**
{
	border: 1px dotted blue;
}*/
a
{
	text-decoration: none;
	color: white;
}
article
{
	border: 1px solid #83674B;
	border-radius: 0.5em;
	position: absolute;
	width: 720px;
	top: 25em;
	left: 7.5em;
}

article #bloque1, article #bloque2
{
	display: inline-block;
	width: 44%;
	margin: 0 0.6em 0 1.5em;

}
article #bloque2
{
	position: absolute;
}
article .caja
{

	width: 100%;

}
article .caja .head
{
	border-bottom: 1px solid #E7D3B1;
	color: #E7D3B1;
	font-size: 1.1em;
	padding-bottom: 0.5em
}
body
{
	background: #070606;
	font-family: "Open Sans";
	
}
header, section, footer
{
	margin: 0 auto;
	width: 960px;
}
header nav ul
{
	padding: 0;
}
header nav ul li 
{
	display: inline-block;
	list-style: none;
	margin-left: 6em;
	
}
header nav ul #home a
{
	color: #CFB15B;
}
header nav ul #nombre
{
	margin-left: 0;
}
header nav ul #nombre span 
{
	color: #E7D3B1;
	margin-right: 1em;
}
p
{
	color: white;
}
section
{
	position: relative;
}
section #nom_prin
{
	font-style: normal;
	position: absolute;
	right: 7em;
	top: 8.5em;
	width: 350px;
}
section #nom_prin p
{
	color: #E7D3B1;
	font-size: 2.8em;
	margin: 0;
	text-align: center;
	padding: 0;
}
section #nom_prin p span
{
	color: #CFB486;
}
section figure img 
{
	width: 100%;
	
}
section figure
{
	margin: 0;
}