/**
{
	border: 1px dotted blue;
}*/
a
{
	text-decoration: none;
	color: white;
}
article
{
	border: 1px solid #83674B;
	border-radius: 0.5em;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	top: 25em;
	width: 80%;
}

article #bloque1, article #bloque2
{
	display: inline-block;
	margin: 0 0.6em 0 1.5em;
	width: 44%;
}
article #bloque1 .caja .head
{
	font-size: 1.1em;
}
article #bloque1 .caja p
{
	font-size: 0.8em;
}
article #bloque1 .caja p span
{
	font-style: italic;
}
article #bloque2
{
	position: absolute;
}
/*article #bloque2 #evento1 .datos
{
	margin-top: 1em;
}*/
article #bloque2 #evento1 .fecha, article #bloque2 #evento1 .datos
{
	display: inline-block;
}
article #bloque2 #evento1
{
	position: relative;
}
article #bloque2 #evento1 .datos
{
	margin-left: 5.5em;
	margin-top: 0.5em;
}
article #bloque2 #evento1 .datos p
{
	margin: 0;
	font-size: 0.8em;
}
article #bloque2 #evento1 .fecha
{
	background: #CFB486;
	padding: 10px 10px 10px 10px;
	position: absolute;
	top: 0.2em;
	width: 50px;
	
	
}
article #bloque2 #evento1 .fecha p
{
	color: #3D2D12;
	font-size: 1.1em;
	text-align: center;
	margin: 0;
}
article #bloque2 #evento1 .fecha p span
{
	font-size: 1.6em;
}
article #bloque2 #evento2
{
	position: relative;
	margin-top: 3em;
}
article #bloque2 #evento2 .datos
{
	margin-left: 5.5em;
	margin-top: 0.5em;
}
article #bloque2 #evento2 .datos p
{
	margin: 0;
	font-size: 0.8em;
	padding-top: 0.5em;
}
article #bloque2 #evento2 .fecha
{
	background: #CFB486;
	padding: 10px 10px 10px 10px;
	position: absolute;
	top: 0.2em;
	width: 50px;
}
article #bloque2 #evento2 .fecha p
{
	color: #3D2D12;
	font-size: 1.1em;
	text-align: center;
	margin: 0;
}
article #bloque2 #evento2 .fecha p span
{
	font-size: 1.6em;
}
article #bloque2 .head
{
	font-size: 1.1em;
}
article .caja
{

	width: 100%;

}
article .caja .head
{
	border-bottom: 1px solid #E7D3B1;
	color: #E7D3B1;
	font-size: 2em;
	padding-bottom: 0.5em
}
body
{
	background: #070606;
	font-family: "Open Sans";
	
}
section
{
	margin: 0 auto;
}
header, section, footer
{
	margin: 0 auto;
	width: 960px;
}
header nav ul
{
	padding: 0;
}
header nav ul li 
{
	display: inline-block;
	list-style: none;
	margin-left: 6em;
}
header nav ul li a
{
	padding: 0.5em 0 0.5em 0;
}
header nav ul #home a
{
	color: #CFB15B;
}
header nav ul #nombre
{
	margin-left: 0;
}
header nav ul #nombre span 
{
	color: #E7D3B1;
	margin-right: 1em;
}
p
{
	color: white;
}
section
{
	position: relative;
}
section #nom_prin
{
	font-style: normal;
	position: absolute;
	right: 7em;
	top: 8.5em;
	width: 350px;
}
section #nom_prin p
{
	color: #E7D3B1;
	font-size: 2.8em;
	margin: 0;
	text-align: center;
	padding: 0;
}
section #nom_prin p span
{
	color: #CFB486;
}
section figure img 
{
	width: 100%;
	
}
section figure
{
	margin: 0;
}

@media screen and (max-width: 960px) {
	header{
		width:98%;
		font-size: 1em;
	}
	section
	{
		width: 98%;
	}
	footer
	{
		width: 98%;
	}
}
